
@import '/src/assets/variables';

button {
  border: 0;
  color: white;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 23px;
  width: 100%;
  @include hoverColorTransition($primary-color, $secondary-color);
}