<div class="page-content">
  <div class="intro">
   <app-intro-illustration></app-intro-illustration>
  </div>
  <div class="login">
    <div class="login__form">
      <h1>Welcome</h1>
      <div class="login__form__fields">
        <input type="email" name="E-mail" placeholder="email@example.com">
        <input type="password" name="Password" placeholder="Password">
        <a href="/register">Don't have an account yet? Sign Up <strong>here</strong>!</a>
        <app-button></app-button>
      </div>
    </div>
  </div>
</div>