<div class="page-content">
  <div class="intro">
   <app-intro-illustration></app-intro-illustration>
  </div>
  <div class="login">
    <form class="login__form" #f="ngForm">
      <h1>Welcome</h1>
      <div class="login__form__fields">
        <input type="email" name="email" placeholder="email@example.com" [minlength]="3" ngModel>
        <input type="password" name="password" placeholder="Password" [minlength]="3" [maxlength]="8" ngModel>
        <a href="/register">Don't have an account yet? Sign Up <strong>here</strong>!</a>
        <button (click)="signIn(f.value)">Login</button>
      </div>
    </form>
  </div>
</div>