<li class="card">
  <div class="card__picture">
    <img src="../../../assets/images/default-profile-pic.jpg" alt="Profile Picture">
  </div>
  <div class="column card__name">
    <p>{{data.name}}</p>
  </div>
  <div class="column card__mail">
    <p>{{data.mail}}</p>
  </div>
  <div class="column card__phone">
    <p>{{data.phone}}</p>
  </div>
  <div class="column card__actions">
    <button>
      <img src="../../../assets/images/edit.png" alt="Edit">
    </button>
    <button>
      <img src="../../../assets/images/delete.png" alt="Delete">
    </button>
    <button>
      <img src="../../../assets/images/check.png" alt="Check">
    </button>
  </div>
</li>