@import '/src/assets/variables';

.card {
  background-color: white;
  margin-bottom: 15px;
  list-style: none;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(28, 55, 51, 0.17);
  border-radius: 12px;

  &__picture {
    width: 60px;
    height: 60px;
    margin-right: 20px;

    img {
      border-radius: 50%;
    }
  }

  &__actions {
    display: flex;
  }

  .column {
    flex-basis: calc(30% - 75px);
    flex-grow: 0;
    flex-shrink: 0;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  button {
    background-color: transparent;
    display: inline-block;
    margin: 0 5px;

    img {
      max-width: 25px;
    }
  }

  input {
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
  }

  p {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    &__picture {
      margin: 0;
    }

    form {
      flex-direction: column;
    }

    .column {
      margin: 7.5px 0;
    }
  }
}
