<header>
  <h1>Contact List</h1>
  <button (click)="logout()">Logout</button>
</header>

<div class="page-content">
 <div class="container">
  <ul class="contact-list">
    <ng-container *ngFor="let item of contactList">
      <app-card-contact [data]="item"></app-card-contact>
    </ng-container>
  </ul>
 </div>
</div>

<button (click)="openDialog()" class="add-contact">
  <img src="../../../assets/images/add-user.png" alt="Add user" title="Add user">
</button>

<div class="loading-mask" *ngIf="loading">
  <div class="loader">
    <img src="../../../assets/images/loader.gif" alt="Loading">
  </div>
</div>