<div class="page-content">
  <div class="intro">
   <app-intro-illustration></app-intro-illustration>
  </div>
  <div class="register">
    <div class="register__form">
      <h1>Test Users</h1>
      <div class="register__form__fields">
        <p>
          User e-mail: paul@domain.com
          <br>
          Password: 1234
          <br><br>
          User email : marina@domain.com
          <br>
          Password: 1234
        </p>
        <a href="/login">Have an account already? Sign In <strong>here</strong>!</a>
        <app-button [text]="'Send'"></app-button>
      </div>
    </div>
  </div>
</div>