/* Colors */
$background-primary: #EDFCF4;
$background-secondary: #D9EFEA;
$primary-color: #99C2B6;
$secondary-color: #ECA59F;
$text-primary: #1C3733;
$action-primary: #44C6B2;

/* Mixins */
@mixin hoverColorTransition ($colorBefore, $colorAfter){
  background-color: $colorBefore;
  transition: all .3s linear;

  &:hover {
    background-color: $colorAfter;
  }
}